@use'./color' as *;

/* ------------------------------------------------------------------------- */
.key_features {
    margin: 3rem 0;
   
    .features {
        
        display: flex;
        justify-content: space-between;

        .featur {
            width: 180px;
        margin: 2rem 0;
        border: 1px solid $border;
        border-radius: 10px;
        padding: 1rem;
            .feat_img {
                background: $button;
                width: 50px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 1px solid $border;
                color: $primary;
            }

            .read_more {
                background: white;
                display: flex;
                align-items: center;
                gap: 0.3rem;
                color: $primary;
                width: fit-content;
                padding: 0.5rem;
                border-radius: 5px;
            }
            .read_more:hover{
                background: $primary;
                color: white;
                
            }
            
        }
    }
}

/* ------------------------------------------------------------------- */
.quickstart {
    margin: 7rem 0;

    h6 {
        color: $primary;
    }

    .img {
        width: 600px;
        background: rgb(60, 72, 88);
        border-radius: 10px;
        margin: auto;
        padding: 1.5rem;
        .nav_img{
            height: 100%;
            
            
            
            
            .nav_container{
                display: flex;
                align-items: center;
                color: white;
                border: 2px solid $img_quikstart;
                border-radius: 5px;
                background: $img_quikstart;
                
                .w_25{
                    width: 25%;
                    padding: 0.5rem;
                }
                .select{
                    background: rgb(60, 72, 88);
                    border-radius: 5px;
                }
            }
            .command{
                display: flex;
                justify-content: start;
            }
            
        }
    }


}

/* ------------------------------------------------------------- */
.build_tools {
    margin: 7rem 0;

    .left {
        width: 60%;
        padding-right: 2rem;

        button {
            background: $primary;
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 5px;
        }

        div {
            color: $p;
        }
    }

    .right {
        width: 40%;

        img {
            max-width: 100%;
        }
    }
}

/* ----------------------------------------------------------------------- */
.our_rates {
    margin: 7rem 0;
    .plans{
        display: flex;
        justify-content: space-between;
        .plan {
            width: 250px;
            border: 1px solid $border;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 0 2px $p;
            text-align: start;
    
            .type {
                background: $plan-btn;
                color: $primary;
                padding: 0.5rem 1rem;
                border-radius: 20px;
                width: fit-content;
    
            }
    
            .price {
                font-size: 30px;
            }
    
            button {
                width: 100%;
                background: $primary;
                color: white;
                border-radius: 5px;
                padding: 0.5rem;
                box-shadow: 1px 1px $p;
            }
        }
        .plan:hover{
           box-shadow: 0 3px $primary;
           scale: 1.1;
        }
    }

}

/* --------------------------------------------------- */
.want_to {
    margin: 7rem 0;
    .container_60 {
        .input_mail {
            position: relative;
            input {
                width: 500px;
                height: 40px;
                border-radius: 25px;
                border: 1px solid $p;
            }

            button {
                width: 100px;
                height: 30px;
                border-radius: 25px;
                position: absolute;
                top: 5px;
                right: calc(50% - 245px);
                background: $primary;
                color: white;


            }
        }

    }
}